.list {
  width: 100%;
  margin: 3vw 0;

  .listTitle {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px 50px;
  }

  .list_item {
    border-radius: 10px;
    width: 100px;
    height: 160px;
    background-color: #383535;
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
    color: white;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .list_item {
      margin: 10px;
      width: 162px;
      height: 200px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .list,
  .movies {
    .list_item {
      width: 120px;
    }
  }
}

main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;

  h1 {
    text-transform: capitalize;
    letter-spacing: 0.8px;
    font-weight: 900;
    font-size: xx-large;
    background-color: #005baa38;
    background-image: linear-gradient(45deg, #a7c7e3, #492f2f);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    color: white;
    line-height: 1.5;
    padding-right: 20px;
    margin: 0;
  }

  .superfab {
    height: 450px;
    background-color: #453434;
  }

  .movies {
    width: 100%;
    margin: 0 auto;
  }

  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }
}

@media only screen and (min-width: 1023px) {
  main {
    flex-direction: row;
    height: 70vh;

    h1 {
      font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
    }

    .movies {
      width: 50%;
    }

    .superfab {
      width: 320px;
      background-color: #453434;
    }
  }
}
