:root {
  --main-color: #172b3b;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  fill: #fff !important;
  stroke: #fff !important;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
